# Google OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Stripe Credentials
STRIPE_SECRET_KEY= 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
STRIPE_WEBHOOK_KEY= whsec_STg6sgStDAw6m3JDN0ugdfZ21gkCN090

# App Configuration
APP_URL= https://via-links1.vercel.app/
NODE_ENV=production
